<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_ultrarestaurant_round"
        android:label="UltraRestaurant"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_ultrarestaurant_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrabajoAndroid"
        tools:targetApi="31">
        <activity
            android:name=".View.FuncionLista6Activity"
            android:exported="false" />
        <activity
            android:name=".View.FuncionLIsta5Activity"
            android:exported="false" />
        <activity
            android:name=".View.FuncionLista4Activity"
            android:exported="false" />
        <activity
            android:name=".View.RegistrarseActivity"
            android:exported="false" />
        <activity
            android:name=".View.InicioSesionActivity"
            android:exported="false" />
        <activity
            android:name=".View.WebActivity"
            android:exported="false" />
        <activity
            android:name=".View.DatoComidaV2Activity"
            android:exported="false" />
        <activity
            android:name=".View.FuncionLista3Activity"
            android:exported="false" />
        <activity
            android:name=".View.FuncionLista2Activity"
            android:exported="false" />
        <activity
            android:name=".View.DatoComidaActivity"
            android:exported="false" />
        <activity
            android:name=".View.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".View.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>